<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.SpringStarter.example.mapper.CommentMapper">	
	<select id="selectcomment" resultType="Comment">
		select		tb.*
from		(
			select		*
            from		comment ta
            where		1=1
            and			ta.selfkey = 0
			) ta
left join	(           
			select 		*
			from 		comment ta
            where		1=1
            ) tb on ta.idcomment = tb.idcomment or ta.idcomment = tb.selfkey
where 		ta.board_idboard = #{idboard}
order by 	ta.idcomment desc, tb.selfkey asc
;
	</select>
	
	<insert id="insertcomment" parameterType="Comment">
		insert into comment(content,selfkey,time,board_idboard,idmember)
		values(#{content},#{selfkey},#{time},#{board_idboard},#{idmember})
	
	</insert>
	<select id="updatetime" resultType="String">
		select now();
	</select>
</mapper>
